@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-bg {
  background-image: url('/assets/granos.png');
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}