@import "tailwindcss";
@import "flowbite";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.form-bg {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.form-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../assets/coffeBackGround.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.4; /*  Solo esta capa se vuelve translúcida */
  z-index: 0;
}

.form-bg > * {
  position: relative;
  z-index: 10; /*  El contenido queda por encima */
}


.footer-bg {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.footer-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../assets/granos.png');
  background-size: cover;
  background-position: center;
  opacity: 0.4; /*  Solo esta capa se vuelve translúcida */
  z-index: 0;
}

.footer-bg > * {
  position: relative;
  z-index: 10; /*  El contenido queda por encima */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
