.text{
    font-size: 2rem;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.coffeToGo{
    width: 200px;
    height: 300px;
}